<header>
	<nav class="round">
  	<ul>
			<li><%= link_to "Home", root_path %></li>
      <li><%= link_to "About FusionZion", about_path %></li>
		 	<li><%= link_to "Solution", solution_path %></li>
			<li><%= link_to "Our Approach", approach_path %></li>
			<li><%= link_to "Contact Us", contact_path %></li>
     </ul>
    </nav>
</header>
